.gv-input-attribute {
  display: inline-block;
}
.gv-input-label {
  display: inline-block;
  width: 150px;
}


/*
  Most moved into viewWriter elements inlines, since not 
  trivial to include this file in the gv-mailweb build

  .gv-input-attribute input,
  .gv-input-attribute select {
    font-size: 12px;
    color: #444;
    margin: 3px;
    padding: 3px;
  }

  .gv-input-attribute .gv-input-checkbox {
      transform: scale(1.5);
      margin-right: 10px;
  }

  .gv-input-attribute .gv-input-wrapper-multichoice {
    display:inline-block;
    max-height:120px;
    overflow:auto;
    padding: 5px;
  }

*/
