/*
  Should be kept consistent with Input attributes section of 
  gv-mailweb/client/src/sass/styles.scss
*/

.gv-input-attribute {
  display: inline-table;
  margin: 4px 0;
  font-family: arial, sans-serif
}

.gv-input-attribute.block {
  display: table;
}

.gv-input-attribute input,
.gv-input-attribute select {
  width: 170px;
  font-size: 14px;
}

.gv-input-attribute input.gv-input-checkbox {
  width: 15px;                    
}

.gv-input-label {
  display: table-cell;
  text-align: right;
  vertical-align: middle;                  
  width: 160px;
  padding-right: 10px;
  font-size: 14px;
  color: #777;
}

.gv-input-wrapper {
  display: table-cell;
  text-align: left;
  vertical-align: middle;                  
}
